doctype html
html(lang="en")
	head
		title 9tc-examplegame1
		style(type="text/css").
			body{
				background: #000000;
				padding:0px;
				margin:0px;
			}
		script(src="/Js/phaser.2.6.2.min.js")
		script(type="text/javascript",src="/Js/example_game1.js")
	body
