//-接受参数UserInfo 暂时不做
doctype html
html(lang="en")
	head
		title=title+"haha"
		script(type="text/javascript",src="/Js/phaser.2.6.2.min.js")
	body
		div#User
		-if(UserInfo)
			h4 您好#{UserInfo['name']}<a href="/login">退出</a>
		-else	//目前的逻辑理论上不会到这里
			a(href="/login") 登陆
		div#phaser-game_lis
			<a href="/test">test</a><br/>
			<a href="/turn_rotation_test1">转向模型1</a>
			<a href="/turn_rotation_test2">转向模型2</a><br/>
			<a href="/example_game1">example_game1</a>
			<a href="/example_game2">example_game2</a><br/>
			<a href="/game1">game1</a>
			<a href="/game2">game2</a>
			<a href="/game3">game3</a><br/>
			<a href="/WSexample1">WS例子-chat</a>
			<a href="/WSchatroom">WS-群聊室</a><br/>
