doctype html
html(lang="en")
	head
		title="9tc-test_Matter2"
		script(type="text/javascript",src="/Js/lib/matter.min.js")
		script(src="/Js/lib/jquery.1.6.4.min.js")
	body
		script(type="text/javascript",src="/Js/def/browser/matter_test2.js")
